.contentpad {
    align-items: center;
    margin: auto;
    width: 90%;
    padding: 20px;
    font-size: 14px;
}

.cardstyle {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    margin: 20px;
}